[Unit]
Description=Gunicorn instance for a simple flask app
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/flask_app
ExecStart=/home/ubuntu/flask_app/flaskenv/bin/gunicorn -b localhost:8000 app:app
Restart=always

[Install]
WantedBy=multi-user.target